spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ippcda
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.ippcda.auth: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
